
body {
	font-family: 'Gotham';
	background-color: #304e50;
	background:url("../media/images/bluebg.jpg") center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #dfeaec;
}

#foreground{
	background: url("../media/images/shapesfg.png") center;
	position: fixed ;
	top: 0;
	width: 100%;
	z-index: 0;
	height: 100%;
	background-repeat: no-repeat;
}

.container {
	width: 690px;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: rgba(38, 38, 38, .8);
}

#main-navbar {
	overflow:hidden;
	background-color: #262626;
	height: 50px;
	margin-bottom: 75px;
	position: relative;
	z-index: 1;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	
}

#main-navbar ul li a {
	display: block;
	padding: 17px; 
	color: cornsilk;
	text-decoration: none;
	font-family: 'Corbel';
}

#main-navbar ul li a:hover {
	background: #a6a6a6;
}

#milpic {
	display: block;
	margin: 0 auto;
	width: 690px;
	height: auto;
	border-radius: 1em;
}

#imgtext {
	padding: 0;
	margin: 0;
	font-size: .75em;
	text-align: center;
	font-style: italic;
}

#academic ul{
	list-style: disc;
}

#airforce{
	color: royalblue;
}
#IIT {
	color: red;
}

#academic ul li p{
	padding-left: 75px;
}
#official{
	font-family: 'Helvetica', sans-serif;
}

#official p{
	padding-left: 50px;
}
#official ul {
	list-style: square;
}

#official ul li {
}

#official ul li p {
	list-style:none;
	padding-left: 75px;
	font-family: 'Garamond', sans-serif;
}

#topheader {
	color: turquoise;
	text-align: center;
	font-family: 'Trajan pro';
	margin-top: 0;
	margin-bottom: 20px;
}

.heading {
	color: #C0B283;
}

h1 {
	font-size: 3em;
	padding: 1%;
}

h2 {
	font-family: 'Trajan pro';
	font-size: 2em;
	padding: 1%;
}

h3 {
	font-size: 1.75em;
	padding: 1%;
}

h4 {
	font-size: 1.5em;
	padding: 1%;
}

h5 {
	font-size: 1.25em;
	padding: 1%;
}

p {
	font-size: 1.2em;
}

#webmaster {
	text-align: center;
	text-transform: uppercase;
	font-size: .65em;
	font-family: 'Courier New';
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: transparent;
}

#fixed {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

#fixed h1, h2, h3, h4, h5 {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 50px;
}

#fixed h4 a{
	color: #E9C893;
}

#fixed header {
	width: 600px;
}
#fixed footer {
	padding-top: 50px;
	padding-bottom: 0px;
	width: 600px;
}

#map {
	height: 800px;
	width: 800px;
	background-color: #ccc;
	text-align: center;
	margin: 0 auto 0 auto;
}

#america {
	background-color: white;
	color: red;
}

#blue{
	color: blue;
}